{% extends 'fragmentos/base.html' %}

{% block title %} Detalles Cursos {% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/css/mis_cursos_detail.css">

<div class="page">
    <div class="contenido">
        <h1>{{ curso_list.curso.nombre }}</h1>
        <h4>{{ curso_list.curso.descripcion }}</h4>
        <label for="">Duración</label>
        <h6>{{ curso_list.periodo.nombre }}</h6>
        <label for="">Periodo</label>
        <h6>Del {{ curso_list.periodo.fecha_inicio}} a {{ curso_list.periodo.fecha_fin }}</h6>
    </div>
    <div class="imagen">
        <div class="gradiante"></div>
        {% if curso_list.curso.imagen %}
        <img src="{{ curso_list.curso.imagen.url }}" alt="">
        {% endif %}
    </div>
</div>

{% endblock %}