{% extends 'fragmentos/base.html' %}

{% block title %} Dashboard {% endblock %}

{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generar PDF</a>
    <!--BOTON PARA IMPRIMIR PDF-->
</div>
<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
        <img class="article-image" src="" border="0" alt="">
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rocky Peak</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure
        enim nostrud aliqua consectetur ad consectetur sunt..
    </div><br>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
            href="portfolio-page.html">
            Learn More
        </a>
    </div>
</div>
{% endblock %}