{% extends 'fragmentos/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
{% if request.user.is_superuser == 1 or status == 'profe' or status == 'admin' %}
<div class="isStaff">
  <center>
    <h1 class="h3 mb-0 text-gray-800">Bienvenido</h1>
    <h4>{{ request.user }}</h4>
    {% if request.user.is_superuser == 1 or status == 'admin' %}
    <h4>Sesión de Admin</h4>
    {% else %}
    <h4>Sesión de Profesor</h4>
    {% endif %}
    <a href="/admin" class="btn btn-link">Ir al Panel de Administración</a>

    {% if not perms.certificados.view_certificadoalumno and not perms.certificados.view_certificadoestudiante %}

    {% else %}
    <div class="contenedor-tarjeta" style="justify-content: center;">
      {% if perms.certificados.view_certificadoalumno %}
      <div class="tarjeta-admin">
        <a class="link" href="{% url 'certificados_back:certi_cele' %}"></a>
        <div class="tarjeta-imagen-admin">
        </div>
        <div class="tarjeta-content-admin">
          <div class="content">
            <h3 class="single-line">Constancias CELE</h3>
          </div>
        </div>
      </div>
      {% endif %}
      {% if perms.certificados.view_certificadoestudiante %}
      <div class="tarjeta-admin">
        <a class="link" href="{% url 'certificados_back:certi_edcon' %}"></a>
        <div class="tarjeta-imagen-admin">
        </div>
        <div class="tarjeta-content-admin">
          <div class="content">
            <h3 class="single-line">Constancias EDCON</h3>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if not perms.encuestas.view_registroscele and not perms.encuestas.view_registrosedcon %}

    {% else %}
    <div class="contenedor-tarjeta" style="justify-content: center;">
      {% if perms.encuestas.view_registroscele %}
      <div class="tarjeta-admin">
        <a class="link" href="{% url 'encuestas:reportes_cele' %}"></a>
        <div class="tarjeta-imagen-admin">
        </div>
        <div class="tarjeta-content-admin">
          <div class="content">
            <h3 class="single-line">Reportes CELE</h3>
          </div>
        </div>
      </div>
      {% endif %}
      {% if perms.encuestas.view_registrosedcon %}
      <div class="tarjeta-admin">
        <a class="link" href="{% url 'encuestas:reportes_edcon' %}"></a>
        <div class="tarjeta-imagen-admin">
        </div>
        <div class="tarjeta-content-admin">
          <div class="content">
            <h3 class="single-line">Reportes EDCON</h3>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </center>
</div>
{% else %}
<!-- Page Heading -->
<h1 class="h3 mb-0 text-gray-800 mb-4">Dashboard</h1>

<div class="row">
  {% for curso in curso_list %}
  {% if curso.periodo.fecha_fin %}
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card mb-4">
      <div class="image-container">
        {% if curso.curso.imagen %}
        <img src="{{ curso.curso.imagen.url }}" alt="">
        {% endif %}
      </div>
      <label class="favorite">
        <input checked="" type="checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
          <path
            d="M12 20a1 1 0 0 1-.437-.1C11.214 19.73 3 15.671 3 9a5 5 0 0 1 8.535-3.536l.465.465.465-.465A5 5 0 0 1 21 9c0 6.646-8.212 10.728-8.562 10.9A1 1 0 0 1 12 20z">
          </path>
        </svg>
      </label>

      <div class="content">
        <div class="brand mb-3">
          <h4>{{ curso.curso }}</h4>
        </div>
        <div class="course-name">
          <h5><span>Profesor: </span>{{ curso.profesor }}{{ curso.instructor }}</h5>
        </div>
        <div class="course-name">
          <h5><span>Periodo: </span>{{ curso.periodo }}
        </div>
        </h5>
      </div>

      <div class="button-container">
        <a class="detail-button button" href="{% url 'certificados_back:mis_cursos_detail' curso.id %}">Más
          detalles</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% if not curso_list %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading text-center">Por el momento no estás cursando ningún curso.</h4>
      <hr>
      <div class="text-center">
        <a style="--clr: #007CF2" class=" btn button-show-more" href="{% url 'certificados_back:mis_cursos' %}">
          <span class="button__icon-wrapper">
            <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
              <path fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
              </path>
            </svg>

            <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10"
              fill="none" viewBox="0 0 14 15">
              <path fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
              </path>
            </svg>
          </span>
          Mis Cursos
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}
{% endblock %}