{% extends 'fragmentos/base.html' %}

{% block title %} Mis Cursos {% endblock %}

{% block content %}

<h1>Mis Cursos</h1>


<div class="mdl-grid">
    {% for curso in curso_list %}
    <div class="mdl-cell mdl-card mdl-shadow--4dp card">
        <div class="mdl-card__media">
            {% if curso.curso.imagen %}
            <img class="article-image" src="{{ curso.curso.imagen.url }}">
            {% endif %}
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ curso.curso.nombre }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <table>
                <tr>
                    <td class="status">Fecha de inicio</td>
                    <td>
                        {{ curso.periodo.fecha_creacion}}
                    </td>
                </tr>
                <tr>
                    <td class="status">Fecha de finalizacion</td>
                    <td>
                        {{ curso.periodo.fecha_fin }}
                    </td>
                </tr>
                <tr>
                    <td class="status">Duracion</td>
                    <td>
                        {% if curso.curso.duracion %}
                        {{ curso.curso.duracion }}
                        {% else %}

                         {% if curso.curso.activo  %}
                         Activo
                         {% else %}
                         No esta activo
                         {% endif %}
                         {% endif %}
                         </td>
                </tr>
            </table>
        </div><br>
        <a href="{% url 'certificados:Cursos' curso.id %}" class="btn btn-primary" style="margin-top: 40px; margin-left: 20px; margin-right: 20px;">Mas Detalles</a> 
    </div>
    {% endfor %}
    
</div>
{% endblock %}