{% extends 'fragmentos/base.html' %}

{% block title %} Perfil {% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">
<div class="titulo">
    <h1 class="h3 text-black-800">Mi Información</h1>
</div>
<div class="contenedor">
    <div class="tarjeta">
        <div class="profile-card">
            <div class="card_titleprofile">
                {% if request.user.is_superuser == 1 %}
                {{ request.user.username }}
                {% else %}
                {{ request.user.nombre_completo }}
                {% endif %}
            </div>
            <div class="datos">
                {% if usuario_log.avatar %}
                <img class="img-profile rounded-circle" src="{{ usuario_log.avatar.url }}">
                {% else %}
                <img class="img-profile rounded-circle" src="/media/default.png">
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-profile">
                        <h6>Dirección: 
                            {% if usuario_log.calle %}
                                {{usuario_log.calle}} 
                            {% if usuario_log.num_exterior %} 
                                {{usuario_log.num_exterior}} 
                            {% endif %}
                            {% if usuario_log.num_interior %} 
                                {{usuario_log.num_interior}} 
                            {% endif %}
                            {% if usuario_log.colonia %} 
                                Col. {{usuario_log.colonia}} 
                            {% endif %}
                            {% else %}
                                Sin registrar
                            {% endif %}
                        </h6>
                        <h6>Estado: {{usuario_log.estado}}</h6>
                        <h6>Telefono: {{usuario_log.telefono}}</h6>
                    </div>

                    <button class="guardar" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if status == "admin" %}
<script>
    window.onload = function(){
        var labels = document.getElementsByTagName('label');
        document.getElementById('id_avatar').style.display = "none";
        var buttons = document.getElementsByTagName('button');
        buttons[3].style.display = "none";

        for (var i = 0; i < labels.length; i++) {
            labels[i].style.display = "none";
        }
    }
</script>
{% endif %}
{% endblock %}