{% extends 'fragmentos/base.html' %}

{% block title %} Perfil {% endblock %} 

{% load static %} 

{% block styles %}
<link rel="stylesheet" href="/static/css/profile.css" />
{% endblock %} 

{% block content %}
<div class="titulo">
    <h1 class="h3 text-black-800">Mi Información</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title">{{ user.nombre_completo }}</h4>
                  </div>
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible bg-{{ message.tags }} text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' name="avatar" id="id_avatar" accept="image/*"/>
                                <label for="id_avatar"><i class="fas fa-camera"></i></label>
                            </div>
                            <div class="avatar-preview">
                                {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" alt="Avatar {{ user.nombre_completo }}"
                                    class="profile-user-img img-responsive img-circle" id="imagePreview">
                                {% else %}
                                <img src="{{MEDIA_URL}}/media/default.png"
                                    alt="Avatar {{ user.nombre_completo }}"
                                    class="profile-user-img img-responsive img-circle" id="imagePreview">
                                {% endif %}
                            </div>
                        </div>
                        <div class="my-4">
                            <h4 class="card-title">{{ user.email }}</h4>
                            {% if user.get_telefono %}
                            <h4 class="card-title">{{ user.get_telefono }}</h4>
                            {% endif %}
                        </div>
                        <div class="error-message text-danger mb-3" style="display: none;">Necesitas seleccionar un avatar para guardar los cambios.</div>
                        <button type="submit" class="btn btn-primary btn-user"
                            id="save-button" disabled>Guardar
                            Cambios</button>
                    </form>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#id_avatar").change(function (data) {
            var imageFile = data.target.files[0];
            var reader = new FileReader();
            reader.readAsDataURL(imageFile);

            reader.onload = function (evt) {
                $("#imagePreview").attr("src", evt.target.result);
                $("#imagePreview").hide();
                $("#imagePreview").fadeIn(650);
            };
        });
    });

    $(document).ready(function () {
        $("#id_avatar").change(function () {
            if ($(this).val()) {
                $("#save-button").removeAttr("disabled");
            } else {
                $("#save-button").attr("disabled", true);
            }
        });
    });

    $(document).ready(function () {
        var saveButton = $("#save-button");
        var errorMessage = $(".error-message");

        $("form").submit(function (event) {
            if (!saveButton.attr("disabled") && $("#id_avatar").val() === "") {
                event.preventDefault();
                errorMessage.show();
            }
        });
    });
</script>
{% endblock %}