<!-- Footer -->
<footer class="footer">
    <div class="footer_background" style="background-image: url(/static/unicat/images/footer_background.png)"></div>
    <div class="container">
        <div class="row footer_row">
            <div class="col">
                <div class="footer_content">
                    <div class="row">
                        <div class="col-lg-4 footer_col">
                            <!-- Footer About -->
                            <div class="footer_section footer_about">
                                <div class="footer_logo_container">
                                    <a href="{% url 'blog:home' %}">
                                        <div class="footer_logo_text">Ed<span>Con</span></div>
                                    </a>
                                </div>
                                <div class="footer_about_text">
                                    <p>
                                        El objeto de la educación continua es impulsar la formación profesional de la
                                        comunidad universitaria mediante actividades y programas de aprendizaje
                                        teórico-prácticos que se realizan durante y después de la formación obligatoria
                                        y que puede extenderse durante toda la vida.
                                    </p>
                                </div>
                                <div class="footer_social">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/Universidad-Tecnol%C3%B3gica-de-Salamanca-UTS-724562784240408/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://t.me/utsalamanca"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/utsoficial/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/UTSoficial"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/channel/UC7WAk8k8n_Nd91EXH9B1LHA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/company/18733031/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 footer_col">
                            <!-- Footer Contact -->
                            <div class="footer_section footer_contact">
                                <div class="footer_title">Contacto Centro de Lenguas</div>
                                <div class="footer_contact_info">
                                    <ul>
                                        <li>Nombre: Karla Zavala Pelayo</li>
                                        <li>Email: celeuts@utsalamanca.edu.mx</li>
                                        <li>Teléfono: 647 38 61 · Ext:173</li>
                                        <li>Horario: Martes a Sábado de 8h00 a 16h00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 footer_col">
                            <!-- Footer links -->
                            <div class="footer_section footer_links">
                                <div class="footer_title">Contacto Educación Continua</div>
                                <div class="footer_contact_info">
                                    <ul>
                                        <li>Nombre: Maricruz Gutiérrez Ruelas</li>
                                        <li>Email: mgutierrez@utsalamanca.edu.mx</li>
                                        <li>Teléfono: 647 38 61 · Ext:171</li>
                                        <li>Horario: Martes a Sábado de 8h00 a 16h00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row copyright_row">
            <div class="col">
                <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                    <div class="cr_text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | <a href="https://www.utsalamanca.edu.mx/">Universidad Tecnológica de Salamanca</a>
                    </div>
                    <div class="ml-lg-auto cr_links">
                        <ul class="cr_list">
                            <li>Av. Universidad Tecnológica #200 Salamanca, Gto.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->