<!-- Header -->
<header class="header">
    <!-- Top Bar -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <ul class="top_bar_contact_list">
                                <li>
                                    <div class="question">¿Tiene alguna pregunta?</div>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div>647 38 61 · Ext:171 y 173</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>celeuts@utsalamanca.edu.mx</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>mgutierrez@utsalamanca.edu.mx</div>
                                </li>
                            </ul>
                            <div class="top_bar_login ml-auto">
                                <div class="login_button">
                                    <a href="{% url 'admin:index' %}">Iniciar Sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <a href="{% url 'blog:home' %}">
                                <div class="logo_text">Ed<span>Con</span></div>
                            </a>
                        </div>
                        <nav class="main_nav_contaner ml-auto">
                            <ul class="main_nav">
                                <li class="active"><a href="{% url 'blog:home' %}">Home</a></li>
                                <li><a href="{% url 'blog:cursos_cele' %}">Centro de Lenguas</a></li>
                                <li><a href="{% url 'blog:cursos_edcon' %}">Educación Continua</a></li>
                                <li><a href="{% url 'blog:contacto' %}">Contacto</a></li>
                            </ul>
                            <div class="search_button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                            <!-- Hamburger -->
                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Search Panel -->
    <div class="header_search_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                        <form action="{% url 'blog:cursos_cele_search' %}" method="get" class="header_search_form">
                            <input name="q" class="search_input input_buscar" placeholder="Buscar" />
                            <button
                                class="header_search_button d-flex flex-column align-items-center justify-content-center btn_buscar">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Content -->

<!-- Menu -->
<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="search">
        <form action="{% url 'blog:cursos_cele_search' %}" method="get" class="header_search_form menu_mm">
            <input name="q" class="search_input menu_mm input_buscar" placeholder="Buscar"/>
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm btn_buscar">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="{% url 'blog:home' %}">Home</a></li>
            <li class="menu_mm"><a href="{% url 'blog:cursos_cele' %}">Centro de Lenguas</a></li>
            <li class="menu_mm"><a href="{% url 'blog:cursos_edcon' %}">Educación Continua</a></li>
            <li class="menu_mm"><a href="{% url 'blog:contacto' %}">Contacto</a></li>
            <li class="menu_mm"><a href="{% url 'admin:index' %}">Iniciar Sesión</a></li>
        </ul>
    </nav>
</div>
<!-- End Menu -->