<!-- Home -->
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            {% for slider in sliders %}
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background"
                    style="background-image:url({{slider.image.url}})"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title" style="color: #14bdee;">{{ slider.titulo }}</div>
                                <div class="home_slider_subtitle" style="color: #14bdee;">{{ slider.subtitulo }}</div>
                                <div class="home_slider_form_container">
                                    <div class="courses_button trans_200"><a href="{{ slider.url }}">Ver Más</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>
<!-- End Home -->