{% extends 'fragmentos/base.html' %}

{% block title %} Reportes {% endblock %}

{% load pagination_filters %}

{% block content %}
<h1>Reportes EDCON</h1>

<link rel="stylesheet" href="/static/css/certi_search.css" />
<script src="https://kit.fontawesome.com/3235fff4fa.js" crossorigin="anonymous"></script>

<div class="modal fade" id="reporteRevin026Modal" tabindex="-1" role="dialog" aria-labelledby="reporteRevin026ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reporteRevin026ModalLabel">Generar Reporte REVIN026</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'encuestas:reportgenrevin026' 'AE' %}" method="get" id="courses_search_form">
                <div class="modal-body formulario">
                    {% if messages %}
                    <div class="alert alert-danger" id="alert">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    Filtrar por...
                    <!-- <input id="busquedaFiltro" type="search" name="q" placeholder="Buscar..." required/> -->
                    <label for="profe">Profesor</label>
                    <select name="profe" required>
                        <option value="" disabled selected hidden>
                            --Escoge un profesor--
                        </option>
                        {% for profesor in profesores %}
                        <option value="{{ profesor.id }}">{{ profesor }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="curso">Curso</label>
                    <select name="curso" required>
                        <option value="" disabled selected hidden>
                            --Escoge un curso--
                        </option>
                        {% for curso in cursos %}
                        <option value="{{curso.id}}">{{ curso }}</option>
                        {% endfor %}
                    </select>

                    <label for="periodo">Periodo</label>
                    <select name="periodo" required>
                        <option value="" disabled selected hidden>
                            --Escoge un periodo--
                        </option>
                        {% for periodo in periodos %}
                        <option value="{{ periodo.id }}">{{ periodo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-success">
                        Generar Reporte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="barraFiltros">
        <form action="{% url 'encuestas:reportes_edcon_search' %}" method="get" id="courses_search_form">
            <input class="mb-2 mb-sm-0" type="search" name="q" placeholder="Buscar por Curso o Estudiante" required />
            <button class="buscarBtn mb-2 mb-sm-0">
                Buscar Ahora
            </button>
            <button type="button" class="reporteBtn mb-2 mb-sm-0" id="reporteBtnRevin026" data-toggle="modal" data-target="#reporteRevin026Modal">
                Generar Reporte
            </button>
        </form>
    </div>
    {% if registros %}
    <div class="tarjeta">
        <div class="tarjeta-contenido table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Instructor</th>
                        <th>Fecha de Término</th>
                        <th>Encuesta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td class="ignoreBorder">{{ registro.curso_alumno }}</td>
                        <td>{{ registro.curso_alumno.instructor }}</td>
                        <td>{{ registro.curso_alumno.periodo.fecha_fin }}</td>
                        <td class="ignoreBorder ultima-casilla">
                            <a class="boton-encuesta"
                                href="{% url 'encuestas:realizar_encuesta' registro.curso_alumno.id 'AE' %}"
                                style="color: #00cd6d;"><i class="fas fa-clipboard-check" style="color: #00cd6d;"></i>
                                Ver Encuesta</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="courses_show_text text-center mb-3">
        Mostrando {{ page_obj.object_list|length }} de {{ page_obj.paginator.count }} Resultados en la Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        {% if request.GET.q is not None %}
        <br> <a href="{% url 'encuestas:reportes_edcon' %}" class="btn btn-link">(Mostrar Todo)</a>
        {% endif %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center flex-wrap">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
    
            {% for page in page_obj|paginated_list:page_obj.paginator.num_pages %}
                <li class="page-item">
                    {% if page == page_obj.number %}
                        <a class="page-link" style="background-color: #007CF2; border-color: #007CF2; color: #fff;" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            {{ page }}
                        </a>
                    {% else %}
                        <a class="page-link" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            {{ page }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endif %}


    {% if not registros %}
    <div class="noCursos">
        <i class="fa fa-search fa-5x"></i>
        <h2>Lo sentimos, no se encontraron resultados para tu búsqueda</h2>
        <div class="section_subtitle">
            <p>Inténtalo de nuevo con una ortografía o palabras clave diferentes.</p>
            &nbsp; <a href="{% url 'encuestas:reportes_edcon' %}" class="btn btn-link">(Mostrar Todo)</a>
        </div>
    </div>
    {% endif %}
</div>
{% if messages %}
<script>
    window.onload = function(){
        document.getElementById('reporteBtnRevin026').click();
        var alert = document.getElementById('alert');

        setTimeout(function() {
            alert.style.display = "none";
        }, 6000);
    }
</script>
{% endif %}

{% endblock content %}