<div class="sidebar">
    <ul class="navbar-nav bg-primary sidebar" id="accordionSidebar" style="height: 100%; border-top-right-radius: 15px; background-color: #007CF2 !important; color: white;" >
        <div class="contenido-sidebar" style="position: static;">
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
            href="{% url 'certificados:dashboard' %}">
            <img src="/static/img/logo_uts.png" class="logo_uts">
            <div class="sidebar-brand-text mx-3" style="color: white;">EdCon </div>
        </a>
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Interface
        </div>
        <li class="nav-item">
            <a style="color: white;" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-file-signature"></i>
                <span>Constancias</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Opciones</h6>
                    {% if not perms.certificados.view_certificadoalumno and not perms.certificados.view_certificadoestudiante %}
                    <a class="collapse-item" href="{% url 'certificados_back:mis_cursos' %}">Mis Cursos</a>
                    {% else %}
                    {% if perms.certificados.view_certificadoalumno %}
                    <a class="collapse-item" href="{% url 'certificados_back:certi_cele' %}">Constancias CELE</a>
                    {% endif %}
                    {% if perms.certificados.view_certificadoestudiante %}
                    <a class="collapse-item" href="{% url 'certificados_back:certi_edcon' %}">Constancias EDCON</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-clipboard-list"></i>
                <span>Encuestas</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Opciones</h6>
                    {% if not perms.encuestas.view_registroscele and not perms.encuestas.view_registrosedcon %}
                    {% if status == 'alumno' %}
                    <a class="collapse-item" href="{% url 'encuestas:encuestas_cele' %}">Lista de Encuestas</a>
                    {% elif status == 'estudiante' %}
                    <a class="collapse-item" href="{% url 'encuestas:encuestas_edcon' %}">Lista de Encuestas</a>
                    {% endif %}
                    {% else %}
                    {% if perms.encuestas.view_registroscele %}
                    <a class="collapse-item" href="{% url 'encuestas:reportes_cele' %}">Reportes CELE</a>
                    {% endif %}
                    {% if perms.encuestas.view_registrosedcon %}
                    <a class="collapse-item" href="{% url 'encuestas:reportes_edcon' %}">Reportes EDCON</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class=" d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        </div>
    </ul>
</div>