.logo_uts{
    width: 65px;
    height: 40px;
}
.card-header{
  
  position: static;
  left: 100px;
}
.card-body{
  margin-left: 100px;
  height: 500px;
}
.text-center{
  border-style: solid;
  border-color: black;
  width: 1100px;
  height: 200px;
}
.datosalumno{
  color: black;
}