.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 500px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  h3 {
    text-align: center;
  }
  
  hr {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .alert {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .w450 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }
  
  