.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
}

.no-cursos {
    width: 100%;
    height: 100%;
    text-align: center;
}

.no-cursos h2 {
    width: 100%;
    height: 100%;
}
  
.tarjeta {
    display: flex; 
    flex-direction: row; 
    height: 250px;
    width: 375px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-inline: 10px;
    margin-block: 15px;
    overflow: hidden;
    transition: 0.3s;

    opacity: 0;
    animation: aparicionTarjeta 1s ease-in-out 0.3s forwards;
}

.link {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.tarjeta-imagen {
    width: 60%; 
    height: 100%; 
    overflow: hidden;
}

.tarjeta-imagen img {
    height: 100%;
    transition: 0.3s;
}

.tarjeta-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: transparent;
}

.tarjeta-content a {
    text-decoration: none;
}

.tarjeta-content a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.tarjeta:hover{
    background-color: #002052;
    color: white;
    cursor: pointer;
}

.tarjeta:hover .botonDetalles {
    color: white;
    font-weight: bold;
}

.tarjeta:hover img {
    transform: translateX(-25px);
}

td {
    vertical-align: top;
}

.thead {
    font-weight: bolder;
    padding-inline-end: 10px;
}

.botonDetalles {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002052;
}

@keyframes aparicionTarjeta {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
    }
}
