.profile-user-img {
    width: 165px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    padding: 3px;
    border: 3px solid #d2d6de;
  }
  
  .img-circle {
    border-radius: 50%;
  }
  
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 40px;
    z-index: 1;
    top: 130px;
  }
  
  .avatar-upload .avatar-edit input {
    display: none;
  }
  
  .avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #d2d6de;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  
  .avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
  .avatar-upload .avatar-edit input+label i {
   margin-top: 8px;
  }
  .btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.card-header {
  background-color: #007CF2;
  color: #fff;
}
