.contenedor {
    display: flex;
    justify-content: center;
    opacity: 0;

    animation: animAppear 1s ease-out 0.5s forwards;
}

.tarjeta {
    width: 50%;
    height: 100%;
    text-align: center;
}

.profile-card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card_titleprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    width: 100%;
    height: 100%;
    background-color: #002052;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: white;
}

.datos {
    margin: 20px;
}

.text-profile {
    height: 100%;
    border-radius: 5px;
    color: #0c0c0c;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
}

.guardar {
    display: inline-block; 
    border-radius: 5px; 
    background-color: #002052; 
    color: white; 
    padding: 10px 20px; 
    border: none;
}

@keyframes animAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    .tarjeta {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .tarjeta {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .tarjeta {
        width: 100%;
    }
}