{% extends "blog/base.html" %}

{% block title %} Home {% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/unicat/styles/main_styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/unicat/styles/responsive.css' %}" />
{% endblock %}

{% block content %}
<!-- Include Slider -->
{% include "blog/layouts/slider-component.html" %}

<!-- Include Cursos Populares -->
{% include "blog/layouts/cursos-populares-cele-component.html" %}
{% include "blog/layouts/cursos-populares-edcon-component.html" %}
{% endblock %}

{% block scripts%}
<script src="{% static 'blog/unicat/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'blog/unicat/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'blog/unicat/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'blog/unicat/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'blog/unicat/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'blog/unicat/js/custom.js' %}"></script>
{% endblock scripts%}