{% extends "blog/base.html" %}

{% block title %} Validar Certificado {% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/unicat/plugins/colorbox/colorbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/unicat/styles/courses.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/unicat/styles/courses_responsive.css' %}" />
<link rel="stylesheet" href="{% static 'css/validar_certificado.css' %}" />
{% endblock %}

{% block content %}
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'blog:home' %}">Home</a></li>
                            <li>Validar Certificado</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses">
    <div class="container">
        <div class="row">
            <!-- Courses Main Content -->
            <div class="col-lg-12">
                <div class="courses_search_container">
                    <form action="{% url 'blog:validar_certificado_search' %}" method="get" id="courses_search_form"
                        class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input type="search" name="q" class="courses_search_input input_buscar"
                            placeholder="Buscar por número de folio" />
                        <button class="courses_search_button ml-auto btn_buscar">
                            buscar ahora
                        </button>
                    </form>

                </div>
                <div class="courses_container">
                    <div class="row courses_row">
                        {% for curso in validar_certificado %}
                        <div class="tarjeta">
                            <div class="tarjeta-contenedor">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Curso</th>
                                            <th>Alumno</th>
                                            <th>Periodo</th>
                                            <th style="text-align: center;">Certificado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ curso.folio }}</td>
                                            <td>{{ curso.curso_alumno.curso }}</td>
                                            <td>{{ curso.curso_alumno.alumno }}{{ curso.curso_alumno.estudiante }}</td>
                                            <td>{{ curso.curso_alumno.periodo }}</td>
                                            <td style="text-align: center;"><a href="{% url 'certificados_back:pdfget' curso.folio %}">Generar PDF</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        
                        {% empty %}
                        <div class="section_title_container text-center">
                            <i class="fa fa-search fa-5x"></i>
                            <h2>Lo sentimos, no se encontraron resultados para tu búsqueda</h2>
                            <div class="section_subtitle">
                                <p>Inténtalo de nuevo con una ortografía o palabras clave diferentes.</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts%}
<script src="{% static 'blog/unicat/plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'blog/unicat/js/courses.js' %}"></script>
{% endblock scripts%}